<div class="container__welcome">
    <h3 class="welcome">Bienvenido</h3>
    <img src="https://scontent.fcvj1-1.fna.fbcdn.net/v/t39.30808-6/240138661_1949249421922602_3100254345319207401_n.jpg?stp=dst-jpg_s960x960&_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=YKZMo7dvwu4AX8PSaKZ&_nc_oc=AQldcs0VDvLCML3BUSVCLZhkQ36eGtzDxz8f5-D4b1Waqj1CJXeRAjFrJZcB52qvABI&_nc_ht=scontent.fcvj1-1.fna&oh=00_AfD4dQY2FDWEZUKhVgV40fi9JBxBzpAwiYFMI46QcYZ6JQ&oe=64BD9BEC" alt="cecati196">
</div>

<div class="container__contactAndUbication">
    
    <section class="contact" id="NodeContact">
        <div>
            <h4>Teléfono</h4>            
            <p><a class="contact--a" href="tel:5559710040">55 5971 0040</a></p><br>
            <p>El horario de atención en ventanilla y por teléfono es de <b>08:00 a 20:00 hrs.</b></p>
            <p>De lunes a viernes en días hábiles.</p>
        </div>
        <h4>Correo Electrónico</h4>
        <div class="email">                
            <h5>Dirección</h5>
            <span>cecati196.dir@dgcft.sems.gob.mx</span>
            <h5>Capacitación</h5>
            <span>cecati196.cap@dgcft.sems.gob.mx</span>
            <h5>Vinculación con el sector productivo</h5>
            <span>cecati196.vinc@dgcft.sems.gob.mx</span>
        </div>
        <div class="whatsapp__hours">
            <h4>WhatsApp</h4>
            <p>Por WhatsApp te atendemos de lunes a viernes en días hábiles en un horario de <b>09:00 a 19:00 hrs.</b></p>
            <p>Solo atendemos mensajes escritos; <b>NO</b> se reciben llamadas ni mensajes en audio por este medio.</p>                
        </div>
        <div class="whatsapp">                
            <a href="https://api.whatsapp.com/send?phone=525561781834">                
                <img alt="Boton de WhatsApp" src="https://static.whatsapp.net/rsrc.php/yz/r/lOol7j-zq4u.svg">
            </a>            
        </div>
    </section>        
    <section class="ubication">
        <iframe 
            class="ubication__map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2053.296293078424!2d-98.9396019264858!3d19.292716631116036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce1dd3df01ec75%3A0x99cfc92c5c4d9ead!2sCECATI%20196%20DGCFT!5e0!3m2!1ses-419!2smx!4v1689778168533!5m2!1ses-419!2smx"
            frameborder="0"
        >
        </iframe>
        <!-- <iframe 
            class="ubication__map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.9773486339545!2d-99.14393848540836!3d19.326789186944595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce01d20d5784ef%3A0x211fc73dfa7fbc9f!2sCECATI%2013%20DGCFT!5e0!3m2!1ses-419!2smx!4v1610038898206!5m2!1ses-419!2smx" frameborder="0">    
        </iframe> -->
        <span>Ignacio Comonfort No. 344 Santa Cruz, Valle de Chalco Solidaridad</span>
    </section>

</div>
