form {
    max-width: 450px;
    padding: 5px 25px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

label {
    font-size: 1.6rem;
    color: var(--fontColor2);
}

input {
    min-width: 220px;
	max-width: 280px;
	padding: 10px 5px;
	border-radius: 5px;
	border: 2px solid var(--contrastColor);
	margin: 7px 2px;
	color: var(--fontColor2);
	background: linear-gradient(180deg, var(--mainColor), var(--mainColor2));
}

input, select {
    margin: 20px 0; 
}

button {
	width: 130px;
	color: var(--mainColor);
	background-color: var(--contrastColor);
	padding: 10px 15px;
	border-radius: 15px;
	margin-top: 5px;
	align-self: center;
	cursor: pointer;
}
