<app-search (inputChange)="filterResults($event)" *ngIf="!this.spinner"/>
<p class="counter__courses" *ngIf="!this.spinner">Total de cursos: {{ this.countCourses }}</p>
<h2>Cursos disponibles:</h2>
<app-spinner *ngIf="this.spinner"></app-spinner>
<section class="section__courses">    
    <div class="course" *ngFor="let course of filteredCourses; let i = index">
        <p class="containerCourse--title"><strong>{{ course.courseName }}</strong></p>
        <div *ngIf="!this.showMoreContent[i]" class="course">
            <p class="containerCourse--profesor">Tipo de Curso: {{ course.courseType }}</p>
            <p class="containerCourse--profesor">Profesor: {{course.professor }}</p>
            
            <p>Inicia:  <b>{{ course.startDate }}</b></p>
            <p>Termina:  <b>{{ course.endDate }}</b></p>
            <p>{{ course.daysOfClasses }} de <b>{{ course.startTime }} a {{ course.endTime }}</b> hrs.</p>
            
            <p>Modalidad: <b><i>{{ course.courseModality }}</i></b></p>
            <p>Costo: <b>${{ course.cost }}</b></p>
            
            <img [src]=course.image [alt]=course.specialty>
            <p>Especialidad: {{ course.specialty }}</p>
            <p>Objetivo: {{course.objective}}</p>
            
            <div 
            class="containerCourse--info"
            (click)="moreInformation(i)">
            <i class="fa-solid fa-circle-plus"></i>
            <span>INFORMACIÓN</span>
        </div>
    </div>
    <div *ngIf="this.showMoreContent[i]" class="course course__more-information">
        <p><b> Contenido Tematico:</b> {{ course.thematicContent }} </p>
        <p><b>Observaciones:</b> {{ course.observations }}</p>
        <div (click)="moreInformation(i)" class="containerCourse--info">
            <i class="fa-solid fa-circle-xmark"></i>
            <span>REGRESAR</span>
            </div>
        </div>
    </div>
</section>
