 <!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="header">
    <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/SEP_Logo_2019.svg" alt="Secretaria de Educación Pública"></a>
    <div>
        <a href="/"><h1 class="title--small">CECATI 196</h1></a>
        <h2 class="title--large">Centro de Capacitación para el Trabajo Industrial No. 196</h2>        
    </div>
    <img class="header---logo" src="https://storage.googleapis.com/images-cecati196/assets/LogoCecati.png" alt="Logo CECATI 196">
</div>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->