<div class="course">
    <p class="containerCourse--title"><strong>course.curs</strong></p>
    <p class="containerCourse--profesor">Profesor: course.profesor.toLowerCase</p>
    
    <p>Inicia:  <b>course.fecha_inicio</b></p>
    <p>Termina:  <b>course.fecha_termin</b></p>        
    <p>Horario:  <b>course.hora_inicio a course.hora_fin</b> hrs.</p>
    
    <p>Modalidad del curso: <b><i>course.modalidad_curso</i></b></p>
    <p>course.horas horas de duración</p>
    <p>Dias de clase: course.dias_de_clases</p>
    <p>Costo del curso: <b>course.costo</b></p>
    <p>course.observaciones</p>
    
    <img src="${course.imageURL}" alt="Logo de Especialidad">
    <div id="node${course.number}"></div>            
    <textarea id="pre-${course.number}" style="display:none">${preregister}</textarea>
    <div  
        data-moreInformation="${course.ficha_informacion}"
        id="containerCourse--info"
    >
        <img src="${URL_BASE_ASSETS}moreInfo.png">
            INFORMACIÓN
    </div>
</div>
