<h3>Área de control escolar</h3>

<section>
    <!-- <app-login/> -->

    <p>Bienvenido</p>

    <p class="message">Registra un nuevo curso para el Sitio web:</p>

    <form action="">
        <label for="">
            <span>Especialidad.</span>
            <select name="" id="">
                <option value="">Informática</option>
                <option value="">Administración</option>
            </select>
        </label>
        
        <label for="">
            <span>Nombre del curso:</span>
            <input type="text">
        </label>

        <label for="">
            <span>Tipo de Curso:</span>
            <select name="" id="">
                <option value="">Regular</option>
                <option value="">Extensión</option>
            </select>
        </label>

        <label for="profesor">
            <span>Profesor</span>
            <input list="profesor">
            <datalist id="profesor">
                <option value="Profe 1">Profe 1</option>
                <option value="Profe 2">Profe 2</option>
            </datalist>
        </label>

        <label for="">
            <span>Fecha de Inicio del curso:</span>
            <input type="date" name="" id="">
        </label>
        <label for="">
            <span>Fecha de Termino del curso:</span>
            <input type="date" name="" id="">
        </label>

        <label for="">
            <span>Modalidad:</span>
            <select name="" id="">
                <option value="">Presencial</option>
                <option value="">Remoto</option>
                <option value="">Hibrido</option>
            </select>
        </label>

        <label for="">
            <span>Dias de Clase:</span>
            <select name="" id="">
                <option value="">Lunes a Viernes</option>
                <option value="">Martes y Jueves</option>
                <option value="">Lunes, Miercoles y Viernes</option>
                <option value="">Sábados</option>
            </select>
        </label>

        <label for="">
            <span>Horario de clases. Inicia:</span>
            <input type="time" name="" id="">
        </label>

        <label for="">
            Horario de clases. Termina:
            <input type="time" name="" id="">
        </label>

        <label for="">
            <span >Costo:</span>
            <span class="form-cost"></span>
            <input type="number" name="" >
        </label>

        <label for="">
            <span>Objetivo:</span>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </label>
        
        <label for="">
            <span>Contenido Temático:</span>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </label>
        
    </form>

    <button>Registrar Curso!</button>
    
</section>