<h3>Área de control escolar</h3>

<!-- <app-login/> -->
<section>
    <p>Bienvenido</p>

    <div 
        class="box-options" 
        *ngIf="!isNewCourse && !isEditCourse && !isDeleteCourse">
        <button (click)="btnShowSelected('Add')">Agregar Nuevo Curso</button>
        <button (click)="btnShowSelected('Edit')">Editar Curso</button>
        <button (click)="btnShowSelected('Delete')" class="button-deleted">Eliminar Curso</button>
    </div>    
</section>

<app-new-course-form 
    (closeNewCourseForm)="closeNewCourseForm($event)"
    *ngIf="isNewCourse"
>
</app-new-course-form>

<app-edit-course-form *ngIf="isEditCourse"></app-edit-course-form>

<app-delete-course *ngIf="isDeleteCourse"></app-delete-course>