<section class="questions">
    <h3 class="questions--title">Preguntas Frecuentes</h3>
    <div class="container__questions">
        
        <div *ngFor="let element of questions; let i = index" class="question__container">
            <label class="question--interrogation" onclick="toogleQuestion(i)">
                {{ element.question }}
                <i class="fa-solid fa-circle-arrow-down" [ngClass]="{ 'rotate-icon':showQuestion[i] }"></i>
                <input type="checkbox" [(ngModel)]="showQuestion[i]">
            </label>
            <div [ngClass]="{'question--answer':showQuestion[i], 'question--answer--hide': !showQuestion[i]}">
                <p *ngFor="let item of element.answer">
                    {{ item }}
                </p>
            </div>           
        </div>
    
    </div>
</section>