<ul class="footer">
    <li>
        <a id="facebook" href="https://www.facebook.com/people/CECATI-No196/100063984429971/" target="_blank">
            <div class="footer__img--text">Facebook</div>
            <img src="https://storage.googleapis.com/cecati13/assets/facebook-logo.png" 
            alt="Facebook" class="footer__img" height="50px">
        </a>
        <!-- <a id="youtube" href="https://www.youtube.com/@cecati196inscripciones6" target="_blank">
            <div class="footer__img--text">YouTube</div>
            <img src="https://storage.googleapis.com/cecati13/assets/youtube-logo.png"
            alt="YouTube" class="footer__img" height="50px">
        </a>
    </li> -->
</ul>