<ul class="footer">
    <li>
        <a id="facebook" href="https://www.facebook.com/people/CECATI-No196/100063984429971/" target="_blank">
            <div class="footer__img--text">Facebook</div>
            <img 
                src="https://storage.googleapis.com/cecati13/assets/facebook-logo.png" 
                alt="Facebook" class="footer__img" height="50px"
            >
        </a>
    <li class="whatsapp">
        <a href="https://api.whatsapp.com/send?phone=525565058690">
            <div class="footer__img--text">WhatsApp</div>
            <img 
                alt="WhatsApp" class="footer__img" 
                src="https://static.whatsapp.net/rsrc.php/yz/r/lOol7j-zq4u.svg"
            >
        </a>
    </li>
</ul>